.badge {
	display: inline-block;
	width: 12px;
	height: 12px;
	border-radius: 30px;
	&:hover {
		border: 2px solid rgb(112, 107, 107);
	}
	&--grey {
		background-color: var(--badge-color-grey);
	}

	&--lime {
		background-color: var(--badge-color-lime);
	}

	&--purple {
		background-color: var(--badge-color-purple);
	}

	&--black {
		background-color: var(--badge-color-black);
	}

	&--red {
		background-color: var(--badge-color-red);
	}

	&--green {
		background-color: var(--badge-color-green);
	}

	&--blue {
		background-color: var(--badge-color-blue);
	}

	&--pink {
		background-color: var(--badge-color-pink);
	}
}
