.settings {
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	height: 100%;
	width: 100%;
	z-index: 100;
	overflow-x: hidden;
	background: var(--Dark-bg-white);
	&__bg {
		position: absolute;
		height: 100%;
		width: 100%;
		z-index: 100;
		overflow: hidden;
		cursor: pointer;
		&:hover {
			background: rgba($color: #fff, $alpha: 0.03);
		}
	}
	&__main {
		z-index: 1000;
		background: var(--Dark-bg-white);
		height: 100%;
		width: 100%;
		position: fixed;
		overflow-x: hidden;
		overflow-y: scroll;
		display: flex;
		flex-direction: column;
		justify-content: start;
		align-items: start;
	}
	&__header {
		display: flex;
		justify-content: start;
		align-items: center;
		flex-direction: row;
		font-size: 28px;
		width: 100%;
		background: var(--Dark-bg-dark);
		color: var(--Dark-font-color);
		&:hover {
			background: var(--Dark-bg-dark-hover);
		}
		padding: 20px;
		cursor: pointer;
		svg {
			padding-right: 6px;
		}
	}
	&__block {
		padding-top: 10px;
		padding-bottom: 20px;
		display: flex;
		flex-direction: column;
		justify-content: start;
		align-items: flex-start;
		width: 100%;
		&-title {
			font-size: 26px;
			font-weight: 600;
			align-self: center;
		}
		&-wrapper {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			width: 100%;
		}
	}

	&__durations {
		width: 100%;
		min-width: 280px;
		max-width: 400px;
		display: flex;
		justify-content: space-evenly;
		align-items: center;
		&-block {
			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: column;
			width: 90px;
			height: 90px;
			color: var(--Dark-font-color);
			background: var(--Dark-button-bg);
			&:hover {
				background: var(--Dark-button-bg-hover);
			}
			border-radius: 6px;
			cursor: pointer;
			input {
				background-color: transparent;
				display: block;
				max-width: 90px;
				text-align: center;
				width: 100%;
				width: auto;
				border: none;
				font-size: 36px;
				color: var(--Dark-font-color);
			}
		}
		&-time {
			font-size: 40px;
			font-weight: 700;
		}
		&-title {
			font-size: 16px;
			font-weight: 700;
			color: var(--Dark-button-color);
		}
	}
	&__break {
		width: 100%;
		min-width: 280px;
		max-width: 400px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		flex-direction: row;
		min-height: 40px;
		cursor: pointer;
		color: var(--Dark-font-color);

		&-input {
			align-self: end;
			text-align: end;
			height: 100%;
			border: none;
			background-color: transparent;
			font-size: 26px;
			max-width: 80px;
			color: var(--Dark-font-color);
		}
		&:hover {
			background-color: var(--Dark-button-bg-hover);
		}
		&-title {
			font-size: 20px;
			font-weight: normal;
			max-width: 180px;
		}
	}
	&__theme {
		width: 100%;
		min-width: 280px;
		max-width: 400px;
		min-height: 40px;
		cursor: pointer;
		display: flex;
		justify-content: start;
		align-items: center;
		flex-direction: row;
		color: var(--Dark-font-color);

		svg {
			margin-left: auto;
		}
		&:hover {
			background-color: var(--Dark-button-bg-hover);
		}
		&-title {
			font-size: 20px;
			font-weight: normal;
			max-width: 180px;
		}
		input {
			color: var(--Dark-font-color);
		}
	}
	&-light {
		.settings__block {
			background: var(--Light-bg-white);

			&-title {
				color: var(--Light-button-color-hover);
			}
		}
		.settings__bg {
			&:hover {
				background: rgba($color: #fff, $alpha: 0.03);
			}
		}
		.settings__main .settings {
			&__main {
				background: var(--Light-bg-white);
			}

			&__header {
				background: var(--Light-bg-dark);
				color: var(--Light-font-color);
				svg {
					g {
						fill: var(--Light-font-color);
					}
				}
				&:hover {
					background: var(--Light-bg-dark-hover);
				}
			}

			&__durations {
				&-block {
					color: var(--Light-font-color);
					background: var(--Light-button-bg);
					&:hover {
						background: var(--Light-button-bg-hover);
					}

					input {
						color: var(--Light-button-color);
					}
				}
				&-time {
					color: var(--Light-button-color);
				}
				&-title {
					color: var(--Light-button-color);
				}
			}

			&__break {
				color: var(--Light-font-color);
				&:hover {
					background-color: var(--Light-button-bg-hover);
				}
				input {
					color: var(--Light-font-color);
				}
			}

			&__theme {
				color: var(--Light-font-color);
				&:hover {
					background-color: var(--Light-button-bg-hover);
				}
				input {
					color: var(--Light-font-color);
				}
			}
		}
	}
	&-dark {
		.settings__block {
			background: var(--Dark-bg-white);

			&-title {
				color: var(--Dark-button-color-hover);
			}
		}
		.settings__bg {
			&:hover {
				background: rgba($color: #fff, $alpha: 0.03);
			}
		}
		.settings__main .settings {
			&__main {
				background: var(--Dark-bg-white);
			}

			&__header {
				background: var(--Dark-bg-dark);
				color: var(--Dark-font-color);
				svg {
					g {
						fill: var(--Dark-font-color);
					}
				}
				&:hover {
					background: var(--Dark-bg-dark-hover);
				}
			}

			&__durations {
				&-block {
					color: var(--Dark-font-color);
					background: var(--Dark-button-bg);
					&:hover {
						background: var(--Dark-button-bg-hover);
					}
					input {
						color: var(--Dark-font-color);
					}
				}
				&-title {
					color: var(--Dark-button-color);
				}
				&-time {
					color: var(--Dark-font-color);
				}
			}

			&__break {
				color: var(--Dark-font-color);
				&:hover {
					background-color: var(--Dark-button-bg-hover);
				}
				input {
					color: var(--Dark-font-color);
				}
			}

			&__theme {
				color: var(--Dark-font-color);
				&:hover {
					background-color: var(--Dark-button-bg-hover);
				}
				input {
					color: var(--Dark-font-color);
				}
			}
		}
	}
}

@media (min-width: 768px) {
	.settings {
		&__main {
			height: 90%;
			width: 50%;
			max-width: 750px;
			overflow-y: scroll;
			overflow-x: hidden;
			border-radius: 10px;
		}
		&__header {
			width: 100%;
		}
	}
}
