.add-task {
	&__text {
		max-width: 6rem;
		padding: var(--mb-0-5);
		border-radius: 4px;

		transition: all 0.15s ease-in-out;

		display: flex;
		justify-content: start;
		align-items: start;
		cursor: pointer;
		span {
			padding-left: 5px;
		}
		&:hover {
			background: #4dd599;
			color: var(--text-color-light);
			i {
				svg {
					path {
						stroke: white;
						stroke-width: 2;
					}
				}
			}
		}
	}
	&__input {
		display: flex;
		justify-content: start;
		align-items: start;
		flex-direction: column;
		flex-wrap: nowrap;

		input {
			width: 100%;
			height: var(--mb-1-5);
			padding: 0 var(--mb-0-5);
			margin-bottom: var(--mb-0-5);
			background: var(--auth-color);
			border: 1px solid var(--text-color-grey-light);
			border-radius: 2px;
		}
	}

	&__buttons {
		width: 100%;
		display: flex;
		align-items: start;
		justify-content: start;

		height: var(--btn-height);

		button {
			cursor: pointer;
			height: var(--mb-2);
			margin: var(--mb-0-5);
			min-width: 8rem;
			text-decoration: none;
			border: 1px var(--text-color-grey-light) solid;
			border-radius: 4px;
		}
	}
}
.btn {
	&-addtask {
		background: #4dd599;
		color: var(--text-color-light);
		&:hover {
			background: #42e49e;
		}
	}
	&-cancel {
		background: var(--btn-gray-color);
		color: var(--text-color-grey);
		&:hover {
			background: rgb(226, 226, 226);
		}
	}
}
