@font-face {
	font-family: 'Inter';
	src: url('fonts/Inter-Regular.ttf');
	src: url('fonts/Inter-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'listen1-icon';
	src: url('../../fonts/listen1-icon.eot?4ftssm');
	src: url('../../fonts/listen1-icon.eot?4ftssm#iefix')
			format('embedded-opentype'),
		url('../../fonts/listen1-icon.ttf?4ftssm') format('truetype'),
		url('../../fonts/listen1-icon.woff?4ftssm') format('woff'),
		url('../../fonts/listen1-icon.svg?4ftssm#listen1-icon') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Inter';
	src: url('fonts/Inter-SemiBold.ttf');
	src: url('fonts/Inter-SemiBold.ttf') format('truetype');
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Inter';
	src: url('fonts/Inter-Bold.ttf');
	src: url('fonts/Inter-Bold.ttf') format('truetype');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}
