.timer {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	width: 100%;
	overflow: hidden;
	flex-grow: 1;
	background: var(--Dark-bg-white);
	&__wrapper {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-between;
	}
	&__time {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		cursor: pointer;

		min-height: 280px;
		max-height: 400px;
		height: 100%;
		min-width: 280px;
		max-width: 400px;
		width: 100%;
		margin-bottom: 40px;
		border: 1px solid #c6c6c6;
		border-radius: 50%;
		color: var(--Dark-font-color);
		&:hover {
			background-color: var(--Dark-bg-white-hover);
		}
		&-title {
			font-size: 24px;
			font-weight: normal;
		}
		&-time {
			font-size: 60px;
			font-weight: bold;
		}
		&-count {
			font-size: 24px;
			font-weight: normal;
		}
	}
	&__buttons {
		display: flex;
		justify-content: space-around;
		align-items: center;
		flex-direction: row;

		min-width: 280px;
		max-width: 400px;
		width: 100%;

		&-button {
			cursor: pointer;
			background: var(--Light-button-bg);
			width: 80px;
			height: 80px;
			border-radius: 50%;
			display: flex;
			justify-content: center;
			align-items: center;
			img {
				width: 44px;
				height: 44px;
			}
		}
	}

	&-dark {
		background: var(--Dark-bg-white);
		.timer__wrapper {
			.timer__time {
				color: var(--Dark-font-color);
				&:hover {
					background-color: var(--Dark-bg-white-hover);
				}
			}
			.timer__buttons {
				&-button {
					background: var(--Dark-button-bg);
					&:hover {
						background: var(--Dark-button-bg-hover);
						svg {
							path {
								fill: var(--Dark-button-color-hover);
								stroke: var(--Dark-button-color-hover);
							}
						}
					}
					svg {
						path {
							fill: var(--Dark-button-color);
							stroke: var(--Dark-button-color);
						}
					}
				}
			}
		}
	}

	&-light {
		background: var(--Light-bg-white);
		.timer__wrapper {
			.timer__time {
				color: var(--Light-font-color);
				&:hover {
					background-color: var(--Light-bg-white-hover);
				}
			}
			.timer__buttons {
				&-button {
					background: var(--Light-button-bg);
					&:hover {
						background: var(--Light-button-bg-hover);
						svg {
							path {
								fill: var(--Light-button-color-hover);
								stroke: var(--Light-button-color-hover);
							}
						}
					}
					svg {
						path {
							fill: var(--Light-button-color);
							stroke: var(--Light-button-color);
						}
					}
				}
			}
		}
	}
}

.test {
	margin-top: 500px;
}
