.header {
	display: flex;
	justify-content: start;
	align-items: center;
	z-index: 50;
	width: 100%;
	height: 60px;
	background-color: var(--Dark-bg-dark);
	overflow-x: hidden;
	&__wrapper {
		height: 60px;
		width: 100%;
		display: flex;
		flex-direction: row;
		justify-content: start;
		align-items: center;
		overflow-x: hidden;
	}
	&__burger {
		display: flex;
		align-items: center;
		justify-content: center;
		height: 100%;
		cursor: pointer;
		padding: 0 10px;
		// margin-right: auto;
		&:hover {
			background: var(--Dark-bg-dark-hover);
		}
		svg {
			width: 36px;
			height: 36px;
			path {
				stroke: var(--Dark-font-color);
			}
		}
	}

	&__logo {
		// display: none;
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 0px 10px;
		text-decoration: none;
		font-size: 20px;
		font-weight: 600;
		margin-right: auto;
		cursor: pointer;
		height: 100%;
		margin-right: auto;

		img {
			padding-right: 8px;
		}
		color: var(--Dark-font-color);
		&:hover {
			background: var(--Dark-bg-dark-hover);
		}
	}

	&__nav {
		ul {
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: center;
			height: 100%;
			li {
				height: 100%;
				padding: 0px 5px;
				svg {
					height: 30px;
					width: 30px;
					g {
						fill: var(--Dark-font-color);
					}
				}
				img {
					height: 100%;
					padding: 4px 10px;
				}
				&:hover {
					background: (--Dark-bg-dark-hover);
				}
				cursor: pointer;
			}
		}
	}
	&-light {
		background-color: var(--Light-bg-dark);
		.header__wrapper .header {
			&__burger {
				&:hover {
					background: var(--Light-bg-dark-hover);
				}
				svg {
					path {
						stroke: var(--Light-font-color);
					}
				}
			}
			&__logo {
				color: var(--Light-font-color);

				&:hover {
					background: var(--Light-bg-dark-hover);
				}
			}

			&__nav {
				ul {
					li {
						&:hover {
							background: var(--Light-bg-dark-hover);
						}
					}
					svg {
						g {
							fill: var(--Light-font-color);
						}
					}
				}
			}
		}
	}
	&-dark {
		background-color: var(--Dark-bg-dark);
		.header__wrapper .header {
			&__burger {
				&:hover {
					background: var(--Dark-bg-dark-hover);
				}
				svg {
					path {
						stroke: var(--Dark-font-color);
					}
				}
			}
			&__logo {
				color: var(--Dark-font-color);
				&:hover {
					background: var(--Dark-bg-dark-hover);
				}
			}

			&__nav {
				ul {
					li {
						svg {
							g {
								fill: var(--Dark-font-color);
							}
						}
						&:hover {
							background: var(--Dark-bg-dark-hover);
						}
					}
				}
			}
		}
	}
}

@media (min-width: 560px) {
	.header {
		&__burger {
			margin-right: 0;
		}
		&__logo {
			display: flex;
		}
	}
}

@media (min-width: 400px) {
	.header {
		&__nav {
			ul {
				li {
					svg {
						height: 40px;
						width: 40px;
					}
				}
			}
		}
	}
}
