.add-list {
	&__popup {
		width: 240px;
		height: 148px;
		background: #fff;
		box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.1);
		border-radius: 10px;
		padding: 18px;
		box-sizing: border-box;
		position: relative;
		top: -25px;
		left: 10px;
		input {
			width: 100%;
		}

		.button {
			width: 100%;
		}
		&-close-btn {
			position: absolute;
			right: -15px;
			top: -15px;
			cursor: pointer;
		}
		&-colors {
			display: flex;
			justify-content: space-between;
			margin-top: 8px;
			margin-bottom: 8px;
			.badge {
				width: 16px;
				height: 16px;
				position: static;
				cursor: pointer;
				border: 2px solid transparent;

				&.active {
					border: 2px solid #525252;
				}
			}
		}
	}
}
