.burger {
	display: flex;
	align-items: flex-start;
	justify-content: start;
	position: fixed;
	height: 100%;
	width: 100%;
	z-index: 100;
	overflow: hidden;
	background: rgba($color: #000000, $alpha: 0.7);
	&__bg {
		position: absolute;
		height: 100%;
		width: 100%;
		z-index: 100;
		overflow: hidden;
		cursor: pointer;
	}
	&__main {
		z-index: 1000;
		background-color: #f0feff;
		height: 100%;
		width: 70%;
		display: flex;
		flex-direction: row;
		justify-content: start;
		align-items: start;
		padding: 30px 20px;
		ul {
			li {
				font-size: 30px;
			}
		}
	}
}
