@font-face {
	font-family: 'Inter';
	src: url('assets/fonts/Inter-Regular.ttf');
	src: url('assets/fonts/Inter-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Inter';
	src: url('assets/fonts/Inter-SemiBold.ttf');
	src: url('assets/fonts/Inter-SemiBold.ttf') format('truetype');
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Inter';
	src: url('assets/fonts/Inter-Bold.ttf');
	src: url('assets/fonts/Inter-Bold.ttf') format('truetype');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}
