.toggleTheme {
	display: flex;
	justify-content: space-around;
	align-items: center;
	min-width: 60px;
	padding: 6px;
	max-width: 200px;
	cursor: pointer;
	&:hover {
		background-color: #cdf1f8;
	}
	svg {
		display: none;
	}
	input[type='checkbox'] {
		-webkit-appearance: none;
		visibility: hidden;
		display: none;
	}
	input[type='checkbox']:checked ~ .toggleTheme-span {
		background: var(--Dark-bg-dark-hover);
		&::before {
			transform: translateX(-50px);
		}
		&::after {
			transform: translateX(0px);
		}
	}

	&-span {
		position: relative;
		display: block;
		width: 40px;
		height: 20px;
		background: #092c3e;
		cursor: pointer;
		border-radius: 20px;
		overflow: hidden;
		transition: ease-in 0.5s;
		&::before {
			content: '';
			position: absolute;
			top: 2px;
			left: 2px;
			background: #fff;
			width: 16px;
			height: 16px;
			border-radius: 50%;
			transition: 0.5s;
		}
		&::after {
			content: '';
			position: absolute;
			top: 2px;
			right: 2px;
			background: #fff;
			width: 16px;
			height: 16px;
			border-radius: 50%;
			transition: 0.5s;
			transform: translateX(50px);
		}
	}
	&-light {
		input[type='checkbox']:checked ~ .toggleTheme-span {
			background: var(--Light-bg-dark-hover);
		}
		&:hover {
			background-color: var(--Light-bg-dark-hover);
		}
	}
	&-dark {
		input[type='checkbox']:checked ~ .toggleTheme-span {
			background: var(--Dark-bg-dark-hover);
		}
		&:hover {
			background-color: var(--Dark-bg-dark-hover);
		}
	}
}
@media (min-width: 320px) {
	.toggleTheme {
		min-width: 80px;
		svg {
			display: block;
			height: 30px;
			width: 30px;
		}
	}
}
@media (min-width: 400px) {
	.toggleTheme {
		min-width: 100px;

		svg {
			height: 40px;
			width: 40px;
		}
	}
}
