@import 'assets/styles/Montserrat.scss';
@import 'assets/styles/variables.scss';

* {
  margin: 0;
  padding: 0;
  list-style: none;
  outline: none;
  font-family: var(--body-font);
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body{
  min-height: 100vh;
}

a{
  text-decoration: none;
}
